<%= image_tag ("01.png"), class: "big-image-about p-0 m-0" %>
<div class="container pt-5 pb-5">
    <p class="text-about">O lixo especial é todo material que, por conta de suas características físicas e químicas, não pode ser descartado junto com o lixo comum ou reciclável (como pilhas, baterias, vidro quebrado e óleo de cozinha). Esses resíduos precisam receber tratamento diferenciado para que seu descarte não prejudique drasticamente o meio ambiente.</p>
</div>
<%= image_tag ("lam2.jpg"), class: "big-image-about p-0 m-0" %>
<div class="container pt-5 pb-5">
    <p class="text-about">Infelizmente, o Brasil não tem um programa que lide com materiais especiais, deixando a responsabilidade na mão da indústria produtora dos materiais. Por conta disso, normalmente se depende do consumidor fazer a devolução e descobrir se a empresa em questão recebe esse produto após seu uso, o que nem sempre acontece.</p>
</div>
<%= image_tag ("vidro2.jpg"), class: "big-image-about p-0 m-0" %>
<div class="container pt-5 pb-5">
    <p class="text-about">Não é comum ouvirmos falar de programas de devolução de materiais especiais, e mesmo ouvimos, nem sempre temos pontos de coleta facilitados para a entrega.</p>
    <p class="text-about">É importante se informar sobre o descarte correto de materiais que não são considerados recicláveis ou lixo orgânico, e nós estamos aqui pra te ajudar :)</p>
</div>