<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <%= image_tag ("trashcan.jpg"), class: "big-image-about p-0 m-0" %>
    </div>
    <div class="carousel-item">
        <%= image_tag ("lam2.jpg"), class: "big-image-about p-0 m-0" %>
    </div>
    <div class="carousel-item">
        <%= image_tag ("vidro2.jpg"), class: "big-image-about p-0 m-0" %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden"></span>
  </a>
</div>