<div class="text-center">
    <div class="row justify-content-md-center">
      <div class="col pt-4">
        <p class="home-text">Onde tem coleta é uma iniciativa que visa facilitar o descarte correto de materiais que requerem tratamento especial: pilhas, baterias, óleo de cozinha, esponjas, medicamentos e outros.</p>
      </div>
      <div class="col pt-4">
        <%= link_to "INSERIR NOVO PONTO DE COLETA", new_collection_point_path , html_options = {class:"btn btn-success button-font text-white insert-search-button"} %>

        <%= form_tag collection_points_path, method: :get, class:"" do %>
            <div class="form-group col pt-4">
              <%= text_field_tag "search", @name, placeholder: "Digite o nome do local ou a cidade", class:"form-control" %> 
            </div>
            <div class="form-group col pt-1">
              <%= button_to "BUSCAR PONTO DE COLETA", nil, class:"btn btn-success insert-search-button button-font text-white" %> 
            </div>
        <% end %>
        </div>
    </div>
</div>
