body, html, .card {
    background-color: #efefef !important;
    size: 100%;
}


.title {
    font-family: 'Oswald', sans-serif;
    font-size: 1em !important;
}

.navbar-items {
    font-family: 'Comfortaa', cursive;
    font-size: 1em;
}

.home-text {
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
}

.text-navbar {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: rgb(3, 16, 59);
}

.subtitles {
    font-family: 'Lato', cursive;
    font-size: 1em;
    color: gray;
}
.dropdown-content {
    border-radius: 1em;
  }

.logo-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.logo-image img {
    width: 100%;
    height: 100%;
}
.insert-search-button {
    background-color: rgb(3, 16, 59) !important;
    border-color: rgb(3, 16, 59) !important;
}

.insert-search-button:hover {
    font-size: 110%
}

.nav-footer-bg {
    background-color: #efefef;
}

.navbar-brand {
    margin-left: 32%;
}

card {
    max-width: 100rem;
}

@media only screen and (max-device-width: 900px) {
    /* .menu { width:100%; } */
}

@import "bootstrap/scss/bootstrap";
@import 'font_awesome5_webfont';
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

/*
*= require normalize-rails
*/