.title {
    font-family: 'Oswald', sans-serif;
    font-size: 21px !important;
}

.navbar-items {
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
}

.home-text {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.text-navbar {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: rgb(3, 16, 59);
}

.subtitles {
    font-family: 'Lato', cursive;
    font-size: 16px;
    color: gray;
}
.dropdown-content {
    border-radius: 15px;
  }

.logo-image img{
    width: 50%;
    height: 50%;
    overflow: hidden;
}

.nav-footer-bg {
    background-color: #efefef;
}

.navbar-brand {
    margin-left: 32%;
}

@import "bootstrap/scss/bootstrap";
@import 'font_awesome5_webfont';
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/v4-shims';
