body, html, .card {
    background-color: #efefef !important;
    size: 100%;
}


.title {
    font-family: 'Oswald', sans-serif;
    font-size: 1em !important;
}

.navbar-items {
    font-family: 'Comfortaa', cursive;
    font-size: 1em;
}

.home-text {
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
}

.subtitles {
    font-family: 'Lato', cursive;
    font-size: 1em;
    color: gray;
}
.dropdown-content {
    border-radius: 1em;
  }

.logo-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.logo-image img {
    width: 40%;
    height: 40%;
}
.insert-search-button {
    background-color: rgb(3, 16, 59) !important;
    border-color: rgb(3, 16, 59) !important;
}

.insert-search-button:hover {
    font-size: 110%
}

.nav-footer-bg {
    background-color: #efefef;
}

.card {
    max-width: 100rem;
}

.hr {
    margin:auto !important;
    width: 70%;
    background-color: rgb(22, 172, 22);
}
.card-border {
    border: none !important;
}

.card-link {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    color: rgb(3, 16, 59);
}

.card-body {
    border:none !important;
}

.card-body-search {
    border:none !important;
    padding: 0% !important;
    max-width: 30em;
    margin: auto !important;
}

@media only screen and (max-device-width: 900px) {
    .logo-image img {
        width: 90%;
        height: 90%;
    }
}

@import "bootstrap/scss/bootstrap";
@import 'font_awesome5_webfont';
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

/*
*= require normalize-rails
*/