// Place all the styles related to the CollectionPoints controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.button-font {
    color: white;
}